select {
  padding: 0.25em;
}
.matrix-input-bar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.matrix-input-label {
  padding-bottom: 0.5em;
}

.matrix-preview-label {
  padding-bottom: 0.5em;
}

.working-matrix-label {
  padding-bottom: 0.5em;
}

.input {
  transition: all 500ms;
}

.scalar-input {
  width: 6em;
}

.input-highlight {
  background-color: palevioletred;
}

.input-bar {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 0.5em;
  transition: all 500ms;
}

.button-highlight {
  background-color: palevioletred;
}

.button-bar {
  display: flex;
  flex-direction: column;
}

.working-matrix-bar {
  display: flex;
  justify-content: space-around;
}

.ef-bar-badge {
  margin-left: 1em;
  margin-right: 1em;
}

.not-in-ref {
  text-decoration: line-through;
}

.not-in-rref {
  text-decoration: line-through;
}
